opencv-python==4.8.1.78
Flask==2.3.3
Flask-CORS==4.0.0
numpy==1.24.3
imutils==0.5.4
scipy==1.11.4
Pillow==10.1.0
mediapipe==0.10.21
google-generativeai
requests==2.31.0
python-dotenv==1.0.0
bcrypt==4.0.1
